# Import cache
.import/

# Binaries
bin/
build/
lib/

# Logs
*.log
mono_crash*

# Other
.mono/
.local/
.config/*
.nuget/*
.dotnet/*
.godot/*

# Plugins
script_templates/*
example/*

# Assets
assets/icons/computersa
assets/splash/slash_presize/*

*~